body {
    background-color: hsl(210, 46%, 95%);

    font-size: 13px;
    max-width: 1440px;
}
.parent {
    display: grid;
    grid-template-areas:
        "drawer_image text"
        "attribution attribution"
        ;
    margin-left: 25%;
    margin-top: 5%;
    width: 50vw;
    background-color: hsl(210, 46%, 95%);
}
.child {
    border-radius: 5px;
    font-family: 'Manrope', sans-serif;
    background-color: white;
    padding: 1%;
}
.drawer_image {
    grid-area: drawer_image;
}
.drawer {
    height: 300px;
}
.text {
    grid-area: text;
    padding-left: 10%;
}
.attribution {
    grid-area: attribution;
    padding-top: 1%;
}
.profile_info {
    display: flex;
   
    
}
.blurb {
    padding-left: 2%;
    
}
.share_icon {
    
}
.avatar {
    height: 50px;
    border-radius: 25px;  

}
h1 {
    color: hsl(214, 17%, 51%);
}
h3 {
    color: hsl(214, 17%, 51%);
}
p {
    color: hsl(217, 19%, 35%);
}